body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Form{
  width: 40%;
  margin-top: 30px;
  padding: 100px;
  
}
.mb-3{
  width: 50%;
  align-items: center;
}
.btn{
  padding: 10px;
  margin-right: 10px;
}
.button{
  margin-top: 30px;
  width: 50%;
}
.link{
  font-size: 30px;
}
.container{

  margin-top: 20px;
 
}
.row{
  margin-top: 15px;
  display: grid;
}
.card{
  display: grid;
 
}
.logout{
  margin-left: 1000px;
 
}

